---
import BaseLayout from "../layouts/BaseLayout.astro";
import PostsListing from "../components/PostsListing.astro"

const posts = await Astro.glob("../posts/**/*.{md,mdx}");
---

<BaseLayout title="sorashi">
    <Fragment slot="main">
        <h1 class="text-center">Writing</h1>
        <PostsListing posts={posts}></PostsListing>
    </Fragment>
</BaseLayout>
