---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
    <article slot="main">
        {frontmatter.title && <h1>{frontmatter.title}</h1>}
        <section>
            <slot />
        </section>
    </article>
</BaseLayout>
